* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #FFFEFA;
}

/* Common Class */

.btn {
  background-color: #872BFF;
  padding: 16px 32px;
  border: none;
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 0 10px 20px 0 #8C8C8C;
}

.btn-white {
  background: #FFFFFF;
  border: 2px solid #872BFF;
  color: black;
}



/* Hero Section */

#hero {
  padding-top: 20px;
  background-image: url(Image/Hero-bg.png);
  background-size: 600px;
}

#hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
  margin: 0 auto;
  padding-right: 25px;
  width: 87.5%;
}

#hero-content {
  padding-bottom: 100px;
}

#hero-content h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

#hero-content h1 span {
  color: #872BFF;
}

#hero-content p {
  color: #8A8A8A;
  margin-bottom: 30px;
}

#hero-image img {
  width: 550;
  vertical-align: middle;
}